@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');

@font-face {
  font-family: 'DynamikGX';
  src: url('https://github.com/Dynamikotf/Typewriter/blob/bd1b7fe44ede762f167c56aa887e2e2de10df072/DynamikGX.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  align-items: center;
  justify-content: center;
  background: black;
}

#content {
  position: absolute;
  overflow-y: auto;
  display: table-caption;
  height: 70%;
  width: 95.50%;
  font-size: 30px;
  line-height: 30px;
  font-family: 'DynamikGX';
  color: white;
  margin-top: 36px;
  overflow-x: hidden;
  word-wrap: break-word;
  margin-left: 36px;
 
}

.col-container {
  margin-left: 22px;
  background: black;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  display: table;
  width: 100%;
}

.col {
  width: 320px;
  display: table-cell;
  padding: 16px;
}
